*{
  padding: 0;
  margin: 0;
  font-size: 30px;
  
}

:root{
  --bg: white;
  --link: rgb(36, 36, 205);
  --link2:red;
  --default: black;
  --border: rgb(36, 36, 205);
  --bgr: 1.4rem;
  --gradient: aqua;
  --gradient2: rgb(1, 255, 1);
  --gradient3: rgb(9, 142, 142);
}

.dark-mode:root {
  --link: blueviolet;
  --bg: black;
  --default: white;
  --border: rgb(10, 255, 133);
  
}
/* -------------------------------------- menu -------------------------------------- */
#header ul {
  padding-top: 0.2rem;
  list-style-type: none;
  text-align: center;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 1.5rem;
  background-color: var(--bg);
  border-bottom: 2px solid var(--border);
  z-index: 1;
}

#header a {
  position: relative;
  color: var(--default);
  margin-left: 1rem;
  height: 5px;
  text-decoration: none;
  padding: 5px;
}

#header a::after {
  content: ' ';
  left: 0;
  bottom: 1px;
  width: 0%;
  height: 0.2rem; 
  position: absolute;
  transition: 0.5s ease-in-out;
  background-color: var(--border);
  
}

#header a:hover::after { 
  width: 100%;
}
/* -------------------------------------- submenu -------------------------------------- */

#header ul ul {
  position: relative;
  width: 550px;
  display: inline;
  background-color: rgb(37, 37, 37);
  border-top: none;
  border-radius: 0 0 15px 15px;
  cursor: pointer; 
}

#header ul ul li{
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: auto;
}

#dark_button{
  right: 0;
  width: 6rem;
  height: 0.6rem;
  position: fixed;
  text-align: center;
  cursor: pointer;
  color: var(--bg);
  background-color: black;
  border: 3px solid var(--gradient2);  
  border-radius: var(--bgr) ;
  .dark-mode &{
    border: 3px solid var(--border);
    color: var(--default );
  }
}

#dark_button:hover{
  transform: scale(97%);
}


/* ------------------------- body ------------------------- */

body{
  padding-top: 1.7rem;
  color: var(--default);
  background-color: var(--bg);  
}

.presentation{
  left: 0;
  width: 100vw;
  height: 87vh auto;
  background-image: linear-gradient(to bottom right, var(--gradient) 1%,var(--bg),var(--bg) );
  border-bottom: 2px solid var(--border);  
}


div, h1, h2, h3, h4, p{
  padding-bottom: 0.5rem;
}

.contacts{
  left: 0;
  display: flex;  
  width: 250px;
  height: 100px; 
  text-align: left;
  justify-content: left;
  padding-top: 15px;
  padding-left: 15px;
}

.contacts a{
  text-decoration: none;
  color: var(--bgr);
  margin-right: 0.7rem;
  transform: scale(125%);
  cursor: pointer;  
  height: 30px;
  border-radius: 1rem;
}

.contacts  a:nth-child(1):hover{
  transform: scale(130%);
  color: red;  
}

.contacts  a:nth-child(2):hover{
  transform: scale(130%);
  color: orangered;  
}

.contacts  a:nth-child(3):hover{
  transform: scale(130%);
  color: black;
  padding: -1px;
  background-color: #fff;

}

.contacts  a:nth-child(4):hover{
  transform: scale(130%);
  color: var(--gradient3);
}

.contacts  a:nth-child(5):hover{
  transform: scale(130%);
  color: green;
}


.skills{
  display: flex;
  width: 21rem ;
  height: 2.4rem;
  border-radius: var(--bgr);
  padding: 0.3rem;
  mask-position: 2rem;
  justify-content: center;
  border: 3px solid var(--border);
  transform: scale(100%);
}

.habilidades p{
  margin-top: 1.5rem;
  width: 100vw;
  
}

.habilidades p span{
  background-image: url(contents/szivárvány-háttér-rainbow-background.gif);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  
}



.habilidades h2{
  font-size: 4rem;
  background-image: linear-gradient(to right,var(--link) 1%, var(--gradient) );
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  .dark-mode &{     
    background-image: linear-gradient(to right, var(--gradient) 15%,var(--gradient2)) ;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  }
}


.skills .logo:hover {
  top:0;
  transform: scale(150%);
  margin-left: 1rem;
  margin-right: 1rem;
  

}

/* ------------------------- ids ------------------------- */
#title-projects{
  font-size: 4rem;
  padding-top: 0.rem;  
  text-align: left;

}

#Ds_img{  
  float:left;
  margin-right: 10rem;
  margin-bottom: 4rem;

}

#Ds_img img
 {
  border-radius: 17rem;
  width: 10.4rem;
  
}
/* ------------------------- projects ------------------------- */
.container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex: 0 0 45%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid var(--border);
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0px 0cm 10px var(--border);
}


.grid-item img {
  width: 5rem;
  margin-right: 10px;
  margin-left: 0.4rem;
  border-radius: 0.5rem;
}

.grid-item h2{
  font-size: larger;
  margin-top: 0.6rem;
}

.grid-item a{
  top: 0;
  margin: .5rem;
  padding: 0.3rem;
  text-decoration: none;
  color: var(--link);
  border-radius: 0.2rem;
  .dark-mode &{
    color: var(--gradient);
  }
}

.grid-item a:hover{
  transform: scale(115%);
}

.grid-item .text {
  /* Estilos para o texto ao lado da imagem */
}


/* ------------------------- responsividade ------------------------- */

/* ------------------------- computador ------------------------- */

@media screen and (max-width: 1023px) {
  *{
    font-size: 25px;
  }

  #Ds_img img{
    width: 14rem;
  }
  
  .presentation{
    height: 55vh ;
  }


  .habilidades {
    display: grid;
    
  }

  .habilidades p{
    font-size: 30px;
    width: 50vw;
  }

  .habilidades span{
    font-size: 40px;
  }


  
}

/* ------------------------- celulares ------------------------- */

@media screen and (max-width: 768px) and (min-width: 400px) {
*{
  font-size: 15px;
}

  #Ds_img{
    width: 1.5rem;
  }

  #Ds_img h1{
    display: none;
  }

  .presentation{
    display: flex;
    padding: 0;
    align-content: flex-start;
    text-align: left;
    height: auto;
  }



  .habilidades{
    left: 0;
    display: block;
    text-align: left;
    padding-top: 18rem;
    width: .5rem;
    position: relative;
    bottom: 0;
  }

  .habilidades h2{
    font-size: 2.3rem;
    text-align: left;
    width: 300px;
    right: 0;
    background-color: aqua;
    
  }

 .habilidades p{
  display: none;
  
 }

 .grid-item{
  padding: .5rem;
  font-size: none;
  width: 20rem;
  height: 5rem;
 }

 .grid-item p{
  display: none;
 }
  
}

@media screen and (max-width: 400px) {
  #header{
    font-size: medium;
  }

  #header a{
    margin-left: .7rem;
    padding: 0px;
  }

  #Ds_img{
    display: none;
  }

  .presentation{
    height: 75vh;
  }

  .habilidades p{
    font-size: 1rem;
    width: 100vw;
  }

  .grid-item p{
    display: none;
  }
  

}